@import "tailwindcss";
@config "../../tailwind.config.js";

:root {
  --background: #161616;
  --foreground: #f0ebd7;
  --glxp-beige: #f0ebd7;
  --glxp-black: #161616;
  --glxp-yellow: #ffc738;
  --glxp-green: #24ee79;
  --glxp-pink: #ffb8b8;
  --glxp-blue: #819bfe;
  --glxp-orange: #fe4400;
  --glxp-white: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #f0ebd7;
    --glxp-beige: #f0ebd7;
    --glxp-black: #161616;
    --glxp-yellow: #ffc738;
    --glxp-green: #24ee79;
    --glxp-pink: #ffb8b8;
    --glxp-blue: #819bfe;
    --glxp-orange: #fe4400;
    --glxp-white: white;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-chinese: var(--font-ibm-plex-sans-sc), var(--font-smiley-sans),
    sans-serif;
  --font-english: var(--font-neue-machina), sans-serif;
}

html {
  background: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  /* 全局默认使用自动识别字体，对中西文分别指定字体族 */
  /* font-family: var(--font-neue-machina), var(--font-ibm-plex-sans-sc),
    var(--font-smiley-sans); */
}

/* START ==========中英文字体配置============= */
:lang(zh),
:lang(zh-CN) {
  font-family: var(--font-chinese);
}

:lang(en),
:lang(en-US) {
  font-family: var(--font-english);
}

.font-made-bon-voyage {
  font-family: var(--font-made-bon-voyage-regular), sans-serif !important;
}

.font-made-bon-voyage-thin {
  font-family: var(--font-made-bon-voyage-thin), sans-serif !important;
}

/* END ==========中英文字体配置============= */

#__next,
#root {
  background: var(--background);
  min-height: 100vh;
}

/* START ==========全局鼠标光标样式============= */

/* 取消所有a标签的下划线 */
a {
  text-decoration: none;
}

/* 自定义光标基本样式 */
html,
body {
  cursor: none; /* 隐藏默认光标 */
}

/* 定义鼠标光标的基本样式 */
.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--glxp-orange);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

/* 可点击元素的样式 */
a,
button,
input[type="submit"],
.cursor-pointer {
  cursor: none;
}

/* END ==========全局鼠标光标样式============= */
