.table-of-contents {
  position: fixed;
  top: 90px;
  bottom: 0;
  font-size: 0.8em;
  left: 20px;
  z-index: 200;
  overflow: hidden;
  display: none;
  flex-direction: column;
  width: 100px;
}

@media (min-width: 1024px) {
  .table-of-contents {
    display: flex;
    width: 200px;
  }
}

@media (min-width: 1280px) {
  .table-of-contents {
    width: 300px;
  }
}

.table-of-contents-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  transition: all 0.4s;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: none;
  width: 1.75rem;
  height: 1.75rem;
}

.table-of-contents > ul {
  text-overflow: ellipsis;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 1.25rem;
  margin-top: 0.25rem;
  transition: all 0.7s;
  border-radius: 0.25rem;
  opacity: 0;
}

*:hover > .table-of-contents > .table-of-contents-anchor,
.toc-always-on .table-of-contents > .table-of-contents-anchor {
  color: inherit;
}

.toc-always-on .table-of-contents > ul {
  opacity: 0.6;
}

*:hover > .table-of-contents > ul {
  opacity: 0.75;
}

.table-of-contents ul > li::before {
  display: none;
}

.table-of-contents ul > li {
  padding-left: 0.8rem;
  line-height: 1.5em;
  margin-top: 0.5em;
}

.table-of-contents ul > li > a {
  transition: opacity 0.15s;
  opacity: 0.75;
}

.table-of-contents ul > li > a:hover {
  opacity: 1;
}

.markdown-magic-link {
  display: inline-flex;
  align-items: center;
  background: rgba(136, 130, 34, 0.5);
  transform: translateY(3px);
  line-height: 100%;
  color: var(--fg-light) !important;
  gap: 0.25rem;
  border-width: 0px !important;
  border-radius: 0.25rem;
  padding: 0.25rem 0.375rem;
  font-family: "Roboto Condensed";
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.markdown-magic-link-image {
  display: inline-block;
  height: 1.1em;
  width: 1.1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}
